<!doctype html>
<head>
  <style>
    .disappearing-div {
      width: 100px;
      height: 100px;
      background-color: black;
      transition: 5s linear all;
    }
    .disappearing-div.ng-leave.ng-leave-active {
      opacity: 0;
    }
  </style>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script>
    angular.module('app', [
      'ngAnimate'
    ]).run(function ($rootScope, $animate) {
      var element = angular.element(document.querySelector('.disappearing-div')),
          currentAnimation;
      $rootScope.hide = function () {
        currentAnimation = $animate.leave(element);
      };
      $rootScope.cancelAnimation = function () {
        if (currentAnimation) {
          $animate.cancel(currentAnimation);
        }
      };
    });
  </script>
</head>
<body ng-app="app">
  <div><a href ng-click="hide()">Hide</a></div>
  <div class="disappearing-div"></div>
  <div><a href ng-click="cancelAnimation()">Cancel Animation</a></div>
</body>
